.imgViewer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*overflow-x: hidden;*/
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.imgCell {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    /*float: left;*/
    visibility: hidden;
}

.imgViewer img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    /*visibility: hidden;*/
    /*display: none;*/
}

.imgViewer > .imgShow {
    visibility: visible;
    /*display: block;*/
}

.imgViewer > .imgClose {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ffffff;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #000000;
    font-family: Helvetica,STHeiti,Droid Sans Fallback;
}

.imgViewer > .imgRotate{
    position: absolute;
}
